body
{
	background-color: orange;
}

section
{
	margin: 20px;
	background-color: white;
	padding:5px 20px 5px 20px;
	border-radius: 10px;
}



h1, h3
{
	text-transform: uppercase;
	color:white;
	text-align: center;
	padding:10px 20px;
	font-size:35px;
}

h3
{
	margin:-5px -20px -5px -20px;
	background-color: chocolate;
	border-radius: 10px;
	font-size:23px;
}

p, li, h4, label, textarea
{
	font-size: 18px;
}
textarea
{
	resize:none;
	height:8em;
}

h4
{
	margin-left:10px;
}

ul
{
	list-style-type: none;
}

ol
{
	display:table;
	margin-left:auto;
	margin-right:auto;
}

li.plus:before
{
	content: "+";
	margin-right:4px;
	margin-left:-10px;
}
li.minus:before
{
	content: "–";
	margin-right:4px;
	margin-left:-10px;
}

.horizontal
{
	display:flex;
	flex-direction: row;
}

#procons .horizontal
{
	justify-content:space-evenly;
}

.vertical
{
	display:flex;
	flex-direction: column;
}

#layer-images
{
	display:table;
	margin:10px auto;
}
#layer-articles
{
	width:60%;
}

.parallelogram 
{
	width: 100px;
	height: 50px;
	transform: skew(20deg);
}

.parallelogram + p
{
	margin-left:10px;
	color:darkslateblue;
	font-weight:bold;
	
}

.parallelogram:hover
{
	opacity:0.6;
}

#playerpara {box-shadow: inset 0 0 0 1000px cornflowerblue;}
#upperpara {box-shadow: inset 0 0 0 1000px greenyellow;}
#adhesivepara {box-shadow: inset 0 0 0 1000px gold;}
#lowerpara {box-shadow: inset 0 0 0 1000px indianred;}
#canvaspara {box-shadow: inset 0 0 0 1000px gray;}


img.dots
{
	width:3em;
	margin-left: 25px;
}

.warning
{
	color: red;
	margin:0px;
}

#emailwrap, #errorwrap
{
	width:50%;
}

input
{
	flex-grow: 2;
}

#feedback
{
	padding-bottom:20px;
}

@media print
{
	h1,h3
	{
		color:black;
	}
	body
	{
		background-color:white;
	}
	#feedback
	{
		display:none;
	}
}